<div class="page-holder align-items-center py-4 bg-gray-100 vh-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 px-lg-4 mr-5">
                <div class="card">
                    <div class="card-header px-lg-5">
                        <div class="card-heading text-primary">User Register</div>
                    </div>
                    <div class="card-body p-lg-5">
                        <h3 class="mb-4">Get started</h3>
                        <form (keyup.enter)="register()">
                            <!-- <div class="form-floating mb-3">
                                <input class="form-control" id="username" type="email" placeholder="name@example.com"
                                    required >
                                <label for="username">Username</label>
                            </div> -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="floatingInput" type="email"
                                    placeholder="name@example.com" required name="email" [(ngModel)]="email">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="floatingPassword" type="password" placeholder="Password"
                                    required name="password" [(ngModel)]="password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" [(ngModel)]="admin" type="checkbox" name="agree"
                                    id="agree">
                                <label class="form-check-label" for="agree">Enable to become an admin <a
                                        [routerLink]="['/register']">Admin</a>.</label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" id="regidter" type="button" name="registerSubmit"
                                    (click)="register()">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer px-lg-5 py-lg-4">
                        <div class="text-sm text-muted">Already have an account? <a [routerLink]="['/login']">Login</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>